.login-title {
	-fx-font-size: 2.2em;
	-fx-font-weight: bold;
}


.version-info {
	-fx-font-size: 0.7em;
}

.version-info .appname {
	-fx-font-weight: bold;
}


.hbox-with-shadow {
	-fx-background-color: -fx-background;
	/* Opsional: beri warna background agar bayangan terlihat jelas */
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 15, 0.0, 0.0, 8);
}